html {
    height: 100%;
}

body {
    display: flex;
    height: 100%;
    background-color: #222831;
    color: #fff;
}

.cover-container {
    max-width: 42em;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

a {
    color: #fff;
    text-decoration: underline;

    &:hover {
        color: #bbb;
    }
}

header {
    padding: 32px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: baseline;
    font-family: serif;
    color: white;
    text-shadow: 0 0 2px #fff, 0 0 1.5px #000, 0 0 1.5px #000;
    // text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;

    h1 {
        font-size: 500%;
        transform: scale(1, 1.5);
        line-height: 1.2em;
        letter-spacing: -0.03em;
    }

    h2 {
        font-size: 300%;
    }

    h3 {
        font-family: sans-serif;
        font-size: 180%;
        transform: scale(1, 1.5);
        letter-spacing: -0.06em;
        margin: 10px 0 26px 0;
    }
}

.status-line {
    margin: -25px auto 0;

    p {
        display: inline-block;
        font-size: 10px;
        color: #ddd;
        white-space: pre-line;
    }

    p.api-status {
        margin-bottom: 0;
    }

    .spinner-border {
        width: 10px;
        height: 10px;
        // border: 1px solid #fff;
        border: 1px solid currentColor;
        border-right-color: transparent;
        margin: 0 0 2px 3px;
    }
}

div.error {
    text-align: center;

    p {
        font-size: 14px;
        white-space: pre-line;
    }

    p.stacktrace {
        text-align: left;
        font-size: 14px;
        white-space: pre-line;
    }
}

main {
    form {
        background: #393e46;
        padding: 20px;

        button {
            &:disabled {
                cursor: not-allowed;
            }
        }
    }

    .content {
        margin: 20px auto 20px;
    }

    .examples {
        margin: 10px auto;
    }

    .share-url {
        font-size: 10px;
        margin: 5px auto;
    }

    .results {
        background: #393e46;
        // margin: 25px auto 20px;
        padding: 20px;

        table {
            margin: 0 auto;
            table-layout: fixed;

            td.track {
                width: 500px;
                max-width: 500px;
                min-width: 500px;
            }
        }

        audio {
            width: 500px;
        }

        .spinner-border {
            width: 1em;
            height: 1em;
            margin: 0 0 2px 3px;
        }
    }
}

footer {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;

    p {
        margin: 0;
    }

    a {
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: #fff;
        }
    }
}

// Snipper

.loader,
.loader:before,
.loader:after {
    background: #ffffff;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}
.loader {
    height: 5em;
    color: #ffffff;
    text-indent: -9999em;
    margin: 20px auto;
    position: relative;
    font-size: 5px;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: "";
}
.loader:before {
    left: -1.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1.5em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
