html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #222831;
    color: #fff;
}

.container {
    max-width: 55em;
    min-height: calc(100vh - 20px);
    // height: calc(100vh - 20px);
    width: 100% !important;
    margin: 0 auto !important;
    padding: 1rem;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}

a {
    color: #fff;
    text-decoration: underline;

    &:hover {
        color: #bbb;
    }
}

.header {
    width: 100%;
    margin: 0;
    padding: 32px;
    padding-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    align-self: baseline;
    font-family: serif;
    color: white;
    text-shadow: 0 0 2px #fff, 0 0 1.5px #000, 0 0 1.5px #000;
    // text-shadow: 0 0 2px #e19a86, 0 0 1.5px #854535, 0 0 1.5px #5c150c;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 6em;
        font-weight: 500;
        line-height: 1.2em;
        letter-spacing: -0.03em;
        transform: scale(1, 1.5);
    }

    h2 {
        margin: 0px 0 26px 0;
        font-size: 2em;
        font-weight: 500;
        font-family: sans-serif;
        transform: scale(1, 1.5);
        letter-spacing: -0.06em;
    }
}

.status-line {
    text-align: center;

    p {
        display: inline-block;
        font-size: 10px;
        color: #ddd;
        white-space: pre-line;
    }

    p.api-status {
        margin: 0 8px;
    }
}

.error {
    padding: 20px;
    text-align: center;

    p {
        font-size: 14px;
        white-space: pre-line;
    }

    p.stacktrace {
        overflow: auto;
        font-size: 14px;
        text-align: left;
        white-space: pre-line;
    }
}

.content {
    width: 100%;

    .file-input {
        background: #393e46;
        text-align: center;
        padding: 20px;

        input {
            font-size: 1.3em;
        }

        button {
            font-size: 1.3em;
            padding: 5px 10px;

            &:disabled {
                cursor: not-allowed;
            }
        }
    }

    .converting {
        text-align: center;
        margin-top: 20px;
    }

    .examples {
        text-align: center;
    }

    .results {
        padding: 20px;
        background: #393e46;

        table {
            margin: 0 auto;
            table-layout: fixed;

            td.track {
                width: 500px;
                max-width: 500px;
                min-width: 500px;
            }
        }

        .player {
            text-align: center;
        }

        audio {
            width: 500px;
        }
    }

    .share-url {
        text-align: center;
        font-size: 10px;
        margin: 5px auto;
    }
}

footer {
    color: rgba(255, 255, 255, 0.5);
    margin-top: 50px;
    font-size: 13px;

    p {
        margin: 0;
    }

    a {
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: #fff;
        }
    }
}
